In [1]:
import numpy as np
import pandas as pd

# load dataset

In [4]:
from sklearn.datasets import load_iris
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
df.info()
#info function returns the summary of the dataset, including the number of rows and columns, column names ,datatype etc

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [8]:
#understand the dataset, how many columns and rows are present inthe dataset.
df.shape
# in this dataset has 150 rows and  4 columns

(150, 4)

In [10]:
df.columns
#columns  function returns the column names

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [12]:
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

# Perform data cleaning:
    -Handle missing values

In [15]:
df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
dtype: int64

## -Remove duplicates

In [24]:

df[df.duplicated()]

     sepal_length  sepal_width  petal_length  petal_width
142           5.8          2.7           5.1          1.9

In [26]:
df.drop_duplicates(inplace=True)

In [28]:
df.duplicated().sum()

0

In [30]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

# Add two columns

In [32]:
df['size_sepal']=df['sepal_length']+df['sepal_width']

In [34]:
df['size_sepal']

0      8.6
1      7.9
2      7.9
3      7.7
4      8.6
      ...
145    9.7
146    8.8
147    9.5
148    9.6
149    8.9
Name: size_sepal, Length: 149, dtype: float64

In [42]:
df['size_petal']=df['petal_length']+df['petal_width']

In [44]:
df.head()

,sepal_length,sepal_width,petal_length,petal_width,size_sepal,size_petal
0,5.1,3.5,1.4,0.2,8.6,1.6
1,4.9,3.0,1.4,0.2,7.9,1.6
2,4.7,3.2,1.3,0.2,7.9,1.5
3,4.6,3.1,1.5,0.2,7.7,1.7
4,5.0,3.6,1.4,0.2,8.6,1.6

# Basic Statistics using NumPy
    -Mean
    -Median
    -standard Deviation

In [46]:
df['size_petal'].mean()

4.943624161073825

In [48]:
df['size_petal'].median()

5.6000000000000005

In [50]:
df['size_petal'].std()

2.5105001694949003

In [52]:
df['size_sepal'].mean()

8.903355704697988

In [54]:
df['size_sepal'].median()

8.899999999999999

In [56]:
df['size_sepal'].std()

0.8916592570749049